<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 
	<context:component-scan base-package="cz.cvut.fit.si1.sla" />

	<context:property-placeholder location="classpath:application.properties" />
     
    <!-- Transaction settings -->
	<tx:annotation-driven />


    <!-- Configure bean to convert JSON to POJO and vice versa
    <bean id="jsonMessageConverter" class=" org.springframework.http.converter.json.MappingJackson2HttpMessageConverter ">
    </bean>
    -->



    <bean id="dataSource" class=" org.springframework.jndi.JndiObjectFactoryBean ">
        <property name="jndiName" value="java:comp/env/jdbc/sla-testing"/>
    </bean>

    <!--DATA SOURCE
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}"/>

    </bean>

-->


    <!--SESSION FACTORY -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">

            <array>

                <value>cz.cvut.fit.si1.sla.domain</value>
                <value>cz.cvut.fit.si1.sla.dao</value>

            </array>

        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql:false}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql:false}</prop>
            </props>
        </property>
    </bean>

    <!--TRANSACTION MANAGER-->
    <bean id="transactionManager"  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>


</beans>